
.idea/modules.xml
.idea/sonarlint/issuestore/8/a/8a716d16c06208a442be4527fa7c8b14f197bd39
.idea/sonarlint/issuestore/b/3/b3b9b946eaab94fe69d77db64366a8a879f00215
.idea/sonarlint/issuestore/index.pb
.idea/Tarea-Programada-2.iml
.idea/vcs.xml
.idea/workspace.xml
